.about {
  background-color: #222;
  background-image: linear-gradient(
    #222 0%,
    #222 50%,
    #f0f4f4 50%,
    #f0f4f4 100%
  );
  padding: 92px 0;
}

.about__bg {
  position: relative;
  display: flex;
  min-height: 56vw;
  background-image: url('../image/redbg.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}

.about__bg::before,
.about__bg::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  height: 25vw;
  background-image: url('../image/tire.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  pointer-events: none;
}

.about__bg::before {
  top: 0;
  transform: translateY(-25%);
}

.about__bg::after {
  bottom: 0;
  transform: translateY(25%);
}

.about__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}

.about__title {
  justify-self: end;
  max-width: min-content;
  color: #fff;
  font-size: 80px;
  font-weight: 700;
  line-height: 120%;
  text-transform: uppercase;
  text-align: right;
  border-right: 2px solid #fff;
  padding: 14px 60px 14px 0;
}

.about__title-text_black {
  color: #222;
}

.about__text {
  max-width: 510px;
  color: #fff;
  font-size: 24px;
  font-weight: 500;
  line-height: 140%;
  padding: 14px 0 14px 60px;
}

@media (max-width: 1080px) {
  .about {
    padding: 80px 0;
  }

  .about__title {
    font-size: 60px;
    padding: 8px 40px 8px 0;
  }

  .about__text {
    max-width: 406px;
    font-size: 20px;
    padding: 8px 0 8px 40px;
  }
}

@media (max-width: 900px) {
  .about {
    padding: 90px 0 55px;
  }

  .about__title {
    font-size: 48px;
    padding: 7px 24px 7px 0;
  }

  .about__text {
    max-width: 317px;
    font-size: 16px;
    padding: 7px 0 7px 24px;
  }
}

@media (max-width: 660px) {
  .about {
    padding: 50px 0 25px;
  }

  .about__bg {
    background-size: auto 100%;
    padding: 82px 0 68px;
  }

  .about__container {
    grid-template-columns: 1fr;
    width: 100%;
  }

  .about__title {
    justify-self: stretch;
    align-self: end;
    max-width: none;
    font-size: 32px;
    text-align: left;
    border-right: 0;
    border-bottom: 2px solid #fff;
    padding: 0 0 12px;
  }

  .about__text {
    align-self: start;
    max-width: 400px;
    font-size: 16px;
    padding: 12px 0 0;
  }
}

@media (max-width: 480px) {
  .about__bg::before {
    transform: translateY(-15%);
  }

  .about__bg::after {
    transform: translateY(15%);
  }
}
