.contact {
  color: #222;
  padding: 104px 0 120px;
}

.contact__title {
  text-align: center;
  font-size: 80px;
  font-weight: 700;
  line-height: 120%;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.contact__title-text_red {
  color: #d10014;
}

.form {
  background-color: #fff;
  border-radius: 32px;
  padding: 60px;
}

.form__fieldset {
  margin-bottom: 32px;
}

.form__title {
  font-size: 32px;
  font-weight: 700;
  line-height: 100%;
  text-transform: uppercase;
  margin-bottom: 32px;
}

.form__radio-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  margin-bottom: 32px;
}

.form__radio-wrapper:last-child {
  margin-bottom: 0;
}

.form__months {
  display: flex;
  gap: 16px;
  margin-bottom: 16px;
}

.form__subtitle {
  margin-bottom: 16px;
}

.form__btn-month {
  font-size: 16px;
  font-weight: 500;
  line-height: 140%;
}

.form__btn-month_active {
  color: #d10014;
  transform: scale(1.05);
}

.form__input-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px 8px;
  margin-bottom: 32px;
}

.form__input {
  color: inherit;
  background-color: #f0f4f4;
  border-radius: 8px;
  border: 1px solid transparent;
  outline: none;
  padding: 12px 20px;
}

.form__input:hover {
  background-color: #f0f4f4;
}

.form__input:focus-visible {
  border-color: #d0d0d0;
}

.form__input::placeholder {
  color: #222;
  font-size: 16px;
  font-weight: 500;
  line-height: 140%;
  opacity: 0.4;
}

.form__info {
  font-weight: 500;
  line-height: 140%;
  margin-bottom: 4px;
}

.form__info:last-child {
  margin-bottom: 0;
}

.form__info-date {
  display: flex;
  gap: 8px;
  font-family: Arial;
  font-weight: 400;
  line-height: 140%;
}

.form__btn-wrapper {
  display: flex;
  gap: 8px;
}

.form__btn {
  display: flex;
  align-items: center;
  gap: 6px;
  color: #222;
  font-size: 16px;
  font-weight: 500;
  line-height: 140%;
  background-color: #f0f4f4;
  border-radius: 50px;
  padding: 12px 20px;
}

.form__btn:disabled {
  color: #222;
  background-color: #f0f4f4;
  opacity: 0.4;
  pointer-events: none;
}

.form__btn_next {
  color: #fff;
  background-color: #d10014;
}

.form__btn_submit {
  color: #fff;
  background-color: #d10014;
}

.radio {
}

.radio__input {
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.radio__label {
  display: block;
  font-size: 16px;
  font-weight: 500;
  line-height: 140%;
  border-radius: 50px;
  background-color: #f0f4f4;
  border: 1px solid transparent;
  padding: 12px 20px;
}

.radio__label:hover {
  background-color: #e4f0f0;
}

.radio__input:focus-visible + .radio__label {
  border-color: #d10014;
}

.radio__input:checked + .radio__label {
  color: #fff;
  background-color: #222;
}

@media (max-width: 1080px) {
  .contact {
    padding: 104px 0 120px;
  }

  .contact__title {
    font-size: 60px;
    margin-bottom: 32px;
  }

  .form {
    padding: 40px;
  }

  .form__fieldset {
    margin-bottom: 32px;
  }

  .form__title {
    font-size: 24px;
  }

  .form__radio-wrapper {
  }

  .form__input-wrapper {
  }
}

@media (max-width: 900px) {
  .contact {
    padding: 104px 0 120px;
  }

  .contact__title {
    font-size: 48px;
  }
}

@media (max-width: 660px) {
  .contact {
    padding: 104px 0 120px;
  }

  .contact__title {
    font-size: 40px;
  }

  .form {
    padding: 40px;
  }

  .form__fieldset {
    margin-bottom: 32px;
  }

  .form__title {
    font-size: 24px;
  }

  .form__input-wrapper {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 480px) {
  .contact {
    padding: 104px 0 120px;
  }

  .contact__title {
    font-size: 32px;
  }

  .form {
    padding: 24px;
  }

  .form__fieldset {
    margin-bottom: 24px;
  }

  .form__title {
    font-size: 24px;
    margin-bottom: 24px;
  }

  .form__radio-wrapper {
  }

  .form__input-wrapper {
  }
}
